/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
  width: 100%;
}

#title{
  width:100%;
  height:40px;
  margin-top:0;
  padding-top:0;
  display: inline-block;
  vertical-align: middle;

}

#title h2{
  margin-top:7px;
  margin-left:7px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
  

}


#legend h3 {
  margin-top: 0;
}

#legend div{
  display: flex;
  /* justify-content: center; Centers horizontally */
  align-items: center;     /* Centers vertically */
  /* Optional: Set a height so vertical centering is visible */
  height: 50px;
}
